@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.navigation {
    display: grid;
    grid-template-columns: 1fr 2fr .5fr;
    gap: .5rem;
    text-align: center;
    padding: 1vw 5vw;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-list {
    /* padding: 0vw 4vw; */
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-list ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: .2vw;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1vw;
    border-radius: 50px;
    backdrop-filter: blur(3px);
}

.nav-list ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    /* color: whitesmoke; */
    color : black;
    font-size: 1vw;
    height: fit-content;
}

.sign{
    padding: .3vw;
    /* padding-top: 8%; */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 2vw;
}


.sign a{
    padding: 1vw 4vw;
    font-size: .8vw;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: #242331;
}

.logo{
    display: flex;
    justify-content: center;
}



.logo img{
    width: 25vw;
}

.headers {
    width: 100%;
    height: 50vw;
    overflow: hidden;
}

.header {
    position: absolute;
}

.header .img {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0%;
    display: flex;
    justify-content: right;
}

.img img {
    width: 70%;
    right: 0%;
}

.head-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10% 0% 0% 0%;
    padding: 0px 10vw;
}

.head-1 p {
    font-size: 3.3vw;
    font-family: 'Nunito', sans-serif;
    padding: 2%;
}

.head-1 p span {
    font-size: 3.7vw;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(120deg, #E2712D, #1758A0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.head-2 img {
    width: 40vw;
    border-radius: 10px;
    aspect-ratio: 3/2;
}

.utube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    padding: 1vw 2vw;
    border-radius: 10px;
    border: 0px solid transparent;
    text-align: left;
    font-weight: 600;
}

.headbtn {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: .5vw;
    justify-content: center;
    text-align: center;
    margin: 1vw 0vw;
}

.btn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1758A0;
    padding: 1vw;
    border-radius: 40px;
    font-size: 1vw;
    color: #EFECFF;
}

.btn2 {
    display: flex;
    justify-content: space-evenly;
    background-color: #F4F4F4;
    padding: 1vw;
    border-radius: 40px;
    font-size: 1vw;
    color: black;
}

.btn2 span{
    font-size: 2.5vw;
    /* background-color: #E2712D; */
    border-radius: 50%;
    /* border: 1px solid black; */
}

.btn2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -----------------------------Features----------------------------- */

.fet-head,
.fet-exp {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3%;
    font-size: 1.5vw;
}

.fet-exp h1{
    font-size: 4vw;
}

.fet-head h1 {
    font-size: 1vw;
    color: #5236FF;
    background-color: #EFECFF;
    padding: 1vw 2vw;
    border-radius: 50px;
}

.features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    place-items: center;
    text-align: center;
    padding: 0vw 8vw;
}

.fetcard{
    width: 20vw;
    height: 30vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.fetcard:hover{
    background-color: #F1F1F1;
    border-radius: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.fetcard h1{
    font-size: 1.5vw;
}

.fetcard p{
    font-size: 1vw;
    padding: 0vw 1vw;
}

.fetcard img{
    width: 20vw;
    margin: 1vw;
}
/* 
.backblue-right {
    position: absolute;
    height: 55%;
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
    background-image: radial-gradient(lightblue, white);
    border-radius: 20px;
    z-index: -1;
    /* background-blend-mode: lighten; */
    /* box-shadow: 25px 25px 50px 0 white inset, -50px -50px 50px 0 white inset; */
    /* background: radial-gradient(90deg,red,blue,green); */
/* } */
/* 
.backblue-left {
    position: absolute;
    height: 55%;
    margin-top: 5%;
    margin-right: 5%;
    width: 30%;
    background-image: radial-gradient(lightblue, white);
    right: 0;
    border-radius: 20px;
    z-index: -1; */
    /* background-blend-mode: lighten; */
    /* box-shadow: 25px 25px 50px 0 white inset, -50px -50px 50px 0 white inset; */
    /* background: radial-gradient(90deg,red,blue,green); */
/* } */

/* .bluerad {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    justify-content: center;
    background: none;
    margin: 5% 10%;
    overflow: hidden;
} */ 

/* .fetimg img {
    width: 35vw;
}

.content {
    padding: 5%;
}

.content h1 {
    font-size: 3vw;
}

.content p {

    font-size: 1.2vw;
    padding: 5% 0%;
} */

.backcard {
    position: absolute;
    height: 33vw;
    width: 20%;
    /* background-color: #20A3B2;  blue shade*/
    /* background-color: #E2712D;   */
    background:linear-gradient(120deg, #fDB777,#FF6200) ;
    right: 0;
    border-radius: 30px 0px 0px 30px;
    z-index: -1;
}

.use {
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
}

.dashimg img {
    width: 90%;
    margin: 6%;
}

.text h1 {
    font-size: 2.5vw;
    padding: 10% 10% 5% 10%;
    text-align: left;
}

.text p {
    font-size: 1vw;
    padding: 0% 10% 5% 10%;
    text-align: left;
}
/* ---------------------------------why us section------------------------------------ */

.why-us{
    padding: 1vw 12vw;  
}
.why-us-left{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1vw;
    margin: 1vw;
}
.why-us-right{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1vw;
    margin: .5vw;
}
.why-us-card{
    background-color: #F8F8F8;
    padding: 2vw;
    border-radius: 10px;
}
.whyus-2fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
.why-us-icon{
    width: 10vw;
}
.why-us-img{
    width: 25vw;
}
.why-us-card h1{
    font-size: 1.3vw; 
}
.why-us-card p{
    font-size: 1.2vw; 
}
/* -------------------------------How it works section------------------------------- */
.process {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1vw 15vw;
    text-align: center;
}

.work {
    background-color: #F9F9F9;
    padding: 1vw 3vw;
    border-radius: 10px;
}

.work h1{
    font-size: 1vw;
}

.active-work {
    background-color: #5236FF;
    color: white;
}

.work-des {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 3vw 15vw;
}

.work-des-exp-head {
    display: flex;
    height: 18%;
    gap: 1rem;
}

.work-des-exp-head h1{
    font-size: 3vw;
    font-weight: 900;
}

.work-des-exp p {
    padding: 10% 5px;
    font-size: 1.5vw;
    font-weight: lighter;
}

.work-des-exp button {
    font-size: 1.5vw;
    padding: .5vw;
    border-radius: 40px;
    border: none;
    background-color: #242331;
    color: white;
}

.work-des-img img {
    width: 100%;
}

.get-start {
    width: 100%;
    padding: 10%;
}

.get-started {
    width: 100%;
    background-image: url('./get-started-bg.png');
    background-size: cover;
    background-position: center;
    padding: 4% 6%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: .5rem;
    overflow: hidden;
    color: white;
}

.get-started-text h1 {
    font-size: 3.5vw;
    font-family: 'Nunito', sans-serif;
}

.get-started-img img {
    width: 100%;
}

.get-started-text p {
    margin: 5% 0%;
    font-size: 2vw;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.get-started-text form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.get-started-text button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    border: none;
    padding: .9vw;
    font-size: 2.5vw;
    color: white;
}

.get-started-text input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 15vw;
    border-radius: 20px;
    /* margin: 5% 2%; */
    color: white;
    padding: 0vw .5vw;
    justify-content: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    font-size: 1.5vw;
    /* Firefox */
}
/* ------------------------------------footer component------------------------------ */

/* .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    padding: 0vw 3vw;
}

.foot-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2vw;
    border-bottom: 1px solid #4E4E4E;
}

.UtilityGuide h1,.support h1{
    font-size: 2vw;
    
}

.UtilityGuide li,.support li{
    font-size: 1.3vw;
    font-weight: 900;
    color: #4E4E4E;
    list-style-type: none;
    padding: .2vw .5vw;
}
.social-links,.copyright{
    font-size: 1.5vw;
} */

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.mobile{
    display: none;
}

/* and (min-width: 400px)  */

@media (max-width: 900px) { 
    .features{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fetcard {
        width: 30vw;
        height: 40vw;
        margin: 2vw;
    }

    .fetcard h1 {
        font-size: 2vw;
    }
    
    .fetcard p {
        font-size: 1.5vw;
        padding: 0vw 1vw;
    }

    .bluerad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right {
        display: flex;
        flex-direction: column-reverse;
    }

    .bluerad p {
        padding: 0px;
    }

    /* analitics section */
    .use {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .dashimg img {
        width: 50%;
        margin: 1%;
    }

    .text h1 {
        font-size: 2.5vw;
        padding: 2%;
        text-align: center;
    }
    .backcard {
        height: 50vw;
        width: 20vw;
    }
    .text h1 {
        font-size: 3.5vw;
        padding: 0vw 2vw;
    }
    
    .text p {
        font-size: 1.5vw;
        padding: 0% 10% 0% 10%;
        text-align: left;
    }
    .backcard {
        height: 60vw;
    }
}

@media (max-width: 400px) { 

    /* .features{
        display: grid;
        grid-template-columns: 1fr ;
    }

    .fetcard {
        width: 50vw;
        height: 60vw;
        margin: 2vw;
    }

    .fetcard img{
        width: 45vw;
    }

    .fetcard h1 {
        font-size: 3vw;
    }
    
    .fetcard p {
        font-size: 1.8vw;
        padding: 0vw 1vw;
    }
    .why-us-img{
        display:none;
    }
    .whyus-2fr{
        display: grid;
        grid-template-columns: 1fr;
    }
    .why-us-left{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
        margin: 1vw;
    }
    .why-us-right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
        margin: .5vw;
    }
    .why-us-card h1{
        font-size: 2vw; 
    }
    .why-us-card p{
        font-size: 1.8vw; 
        margin-bottom: 0vw;
    } */
    .desktop{
        display: none;
    }
    .mobile{
        display:contents;
    }
}

.features-heading{
    color: #242331;
text-align: center;
font-family: Nunito;
font-style: normal;
font-weight: 800;
line-height: 110%;
}

.feat{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    color: #5236FF;
    font-family: Nunito;
    background: rgba(239, 236, 255, 1);
    width: 30%;
    margin-top: -10px;
}

.features-sec{
    border-radius: 20px;
    /* background: linear-gradient(180deg, rgba(255, 102, 0, 0.678) 0%, rgba(255, 255, 255, 0.42) 100%); */
    background: linear-gradient(180deg, rgba(255, 215, 189, 1) 0%, rgba(255, 255, 255, 1) 100%);
    position: relative;
}

.feature-card{
    border-radius: 20px;
    background: #FFF;
    margin: 10px;
}

.f-img{
    width: 100%;
    position: relative;
    top:15%
}

.f-text{
    margin-top: -10px;
    text-align: justify;
  text-justify: inter-word;
  color: #797979;
font-family: Nunito;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 157.4%; /* 12.592px */
}

.my-text{
    color: #797979;
font-family: Nunito;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 157.4%; /* 12.592px */
}

.myclass{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.f-head{
    margin-top: 5px;
    color: #242331;
font-family: Nunito;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 110%;
}

.youtube{
    color: #FF5252;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 133.2%;
text-transform: capitalize;
}

.m-text{
    color: #303030;
text-align: center;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 133.2%; /* 23.976px */
text-transform: capitalize;
}

.more-sec{
    border-radius: 20px;
    /* background: linear-gradient(180deg, rgba(255, 102, 0, 0.678) 0%, rgba(255, 255, 255, 0.42) 100%); */
    background: linear-gradient(180deg, rgb(96, 200, 252) 0%, rgba(255, 255, 255, 1) 100%);
    position: relative;
}

.m-feat{
    color: whitesmoke;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    font-family: Nunito;
    background: rgb(8, 30, 225);
    width: 30%;
    margin-top: -10px;
}

.m-head{
    color: #000;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 133.2%; /* 15.984px */
text-transform: capitalize;
padding: 3px;
}

.more-card{
    margin-top: 10px;
    border-radius: 30px;
background: rgba(45, 191, 253, 0.9);
backdrop-filter: blur(96.5px);
}

.more-img{
    height: 70%;
    width:90%;
    position: relative;
    top:10%;
    border-radius: 34px;
background: #E6EFF1;
}

.see-more{
    font-size: 9px;
    width: 70px;
    border-radius: 20px;
    color: whitesmoke;
background: #1758A0;
}

.feature{
    margin-top:40%;
}


  
